@using Random_Recipe_Finder_MAUI_APP.Models
<h3>RecipeView</h3>

<img src="@recipe.StrMealThumb" alt="recipe image" />
<p>@recipe.StrMeal</p>
<p>@recipe.StrCategory</p>
<p>@recipe.StrArea</p>
<p>@recipe.StrInstructions</p>
<p>@recipe.StrTags</p>

@code {
    private Recipe recipe;

}
